.profile-pic img {
  border-radius: 50%;
  border: solid 1px cadetblue;
}
/* MEGHAN'S STYLES */
body {
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
}

main {
  height: 100vh;
}
.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex__column img {
}
.flex__column h2 {
  text-align: center;
}
.flex__column p {
  line-height: 1.6;
  margin: 0 auto;
  width: 50%;
}
.media video,
.media img {
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.video__responsive {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 600px) {
  .flex p {
    width: 100%;
    margin: 0 auto;
  }
}
