/* MEGHAN'S STYLES */
body {
  background-color: #d9ca50;
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: #dfdbd8;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  margin: 0 auto;
  width: 80%;
}

main {
  overflow: auto;
  padding-bottom: 180px;
  height: 100%;
}
.flex__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex__column img {
  margin-bottom: 40px;
}
.flex__column h2 {
  text-align: center;
}
.flex__column article {
  background-color: #424242;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 30px;
  padding: 40px;
  text-align: left;
  width: 50%;
}
.flex__column a {
  color: #e86890;
}
.media video,
.media img {
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.video__responsive {
  max-width: 100%;
  height: auto;
}
/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  body {
    height: 100vh;
  }
  .wrapper {
    box-shadow: none;
    width: 100%;
  }
  .flex__column article {
    border-radius: 0;
    padding: 0;
    width: 100%;
  }
  .flex__column p {
    margin: 10px;
  }
}
